__pycache__/
.vscode
*wav
*pth
*npz
*.zip*
*.txt
*.model
GuitarSet/data*/
Wave-U-Net-Pytorch-6string*/datasets/GuitarSep/
Wave-U-Net-Pytorch-6string*/hdf*/
Wave-U-Net-Pytorch-6string*/checkpoints/
Wave-U-Net-Pytorch-6string*/mycheckpoints/
Wave-U-Net-Pytorch-6string*/logs/
Wave-U-Net-Pytorch-6string*/logs_ath/
Wave-U-Net-Pytorch-6string*/train/
Wave-U-Net-Pytorch-6string*/data-tab/
data-manipulation-code/note_instances*
data-manipulation-code/pdgp*
data-manipulation-code/mdgp*
data-manipulation-code/GSCust*
data-manipulation-code/bar_total_new.png
datasets/dada_gp
datasets/
Logs.md
img_insights*
TabCNN/model-tensor-sep/saved
TabCNN/spec_repr*
Tab-estimator/model/
Tab-estimator/result/
Tab-estimator/tensorboard/